* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #da2c2c;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: #fff;
    text-decoration: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 100vh;
    background: linear-gradient(90deg, rgba(19, 176, 215, 1) 29%, rgba(18, 231, 30, 1) 100%);
}

.card {
    width: 320px;
    height: 400px;
    background: #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    color: #fff;
    text-align: center;
    overflow: hidden;
}

.card__img {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border: 4px solid var(--primary-color);
    border-radius: 50%;
    cursor: pointer;
    rotate: 0deg;
    transform: translateY(20px);
    transition: linear 0.3s;
    transition-property: width, height, border, border-radius, transform, rotate;
}

.card__img:hover {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: unset;
    rotate: 360deg;
    transform: translateY(0);
}

.card__img:hover img {
    border-radius: unset;
    transition: border-radius linear 0.3s;
}

.card__img:hover ~ .card__content {
    opacity: 0;
    visibility: hidden;
}

.card__content {
    transform: translateY(20px);
    transition: linear 0.3s;
    transition-property: opacity, visibility;
}

.card__img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
}

h2,
p {
    margin: 10px 0;
}

.card p {
    color: var(--primary-color);
}

.social {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin: 20px 0;
}

.social a {
    padding: 4px;
    font-size: 24px;
    transition: color linear 0.3s;
}

.social a:hover {
    color: var(--primary-color);
}

.card button {
    padding: 12px 24px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    outline: none;
    color: #fff;
    background: transparent;
    cursor: pointer;
    transition: background linear 0.3s;
}

.card button:hover {
    background: var(--primary-color);
}
