* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    cursor: none;
}

#mirror {
    position: fixed;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border-radius: 2px solid #fff;
    background-repeat: no-repeat;
    pointer-events: none;
    translate: -50% -50%;
}
