* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    margin: 60px 0;
    background: linear-gradient(to right, #f12711ca, #f5af19ac);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 400px;
    padding-top: 10px;
    border-radius: 10px;
    background: #fff;
}

.form {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.input {
    width: 90%;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
}

.btn {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    outline: none;
    font-size: 20px;
    color: #fff;
    background: rgb(238, 106, 11);
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

.list {
    list-style: none;
}

.list li {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid #333;
}

.list li:last-child {
    border-bottom: none;
}

.list li span {
    font-size: 24px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list li.completed span {
    color: #ccc;
    text-decoration: line-through;
}

.delete {
    margin: 0 0 0 10px;
    height: 30px;
    cursor: pointer;
}
